@import url("/font/fonts.css");

:root {
  --white: #272727;
  --gray: #1b1b1b;
  --orange: #ffc67b;
  --yellow: #fdffa3;

  --violet-light: #8248a8;
  --violet-normal: #a347d8;
  --violet-deep: #ce9eda;

  --indigo-light: #6048e4;
  --indigo-normal: #9b91da;
  --indigo-deep: #d1c2f1;
  --indigo-dark: #d8c8ee;

  --black-medium: #a1a1a190;
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --white: #f0f0f0;
    --gray: #cacaca;
    --orange: #ffc271;
    --yellow: #fdffa3;

    --violet-light: #c7a7cf;
    --violet-normal: #a174bb;
    --violet-deep: #633283;

    --indigo-light: #999adf;
    --indigo-normal: #6e5eb9;
    --indigo-deep: #201d38;
    --indigo-dark: #191629;

    --black-medium: #40404090;
  }
}

.center-text {
  text-align: center;
}

.nav-element,
.bold {
  font-weight: bold;
}

.font-mono,
.content {
  font-family: "Roboto Mono", monospace !important;
}

.font-sans,
.nav-element {
  font-family: "Inter", sans-serif !important;
}

.font-serif,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

.box,
.nav-element {
  border-radius: 0.25rem;
  color: white;
}

.nav-element {
  background-image: linear-gradient(150deg,
      var(--violet-light),
      var(--indigo-normal));

  height: fit-content;
  width: fit-content;

  padding: 10px 15px 10px 15px;

  transition: all 0.2s;
}

.nav-element:hover {
  transform: scale(1.05);
  filter: brightness(110%);
}

.section {
  margin-top: 40px;
  padding: 30px;

  width: auto;
  height: auto;

  border-radius: 10px;
  border: 1px solid var(--indigo-normal);

  box-shadow: 10px 12.5px 5px var(--indigo-deep), 10px -12.5px 5px var(--indigo-deep);
}

.content {
  margin-inline: 30px;
  margin-block: 20px;

  color: var(--gray);

  font-style: italic;

  line-height: 24px;
}

.intro-avatar {
  float: right;

  margin-left: 6px;
  margin-right: 10px;
  margin-block: 30px;

  border-radius: 50%;
  outline: 3px solid var(--indigo-light);
  outline-offset: 3px;

  width: 75px;
  height: 75px;

  background-image: url("/image/avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.flexbox, nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.inline-flex {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
  margin-left: 0;
  margin-right: auto;

  padding-inline: 10px;

  color: var(--white);

  font-style: normal;
  font-weight: bold;
  text-decoration: unset;
}

nav {
  gap: 20px 15px;
}

em {
  color: var(--violet-normal);
  font-style: normal;
}


body {
  color: var(--white);

  font-style: normal;

  hyphens: auto;
  overflow-wrap: break-word;
  background-color: var(--indigo-dark);

  padding: 20px;

  text-shadow: 2px 1px var(--black-medium);
}

a {
  font-style: normal;
  text-decoration: unset;
  color: var(--indigo-light);
}

img {
  max-width: fit-content;
  width: 100%;
}